mat-list-item{
    a[mat-chip]{
        cursor: pointer;

        &.chip_more_tags{
            margin-left: 1em;
        }
    }

    h4[mat-line]{
        span, small{
            vertical-align: middle;
        }
    }
}

.password_item{
    position: relative;
    animation: password_item 0.25s;
}

@keyframes password_item{
    0%{
        opacity: 0;
        left: -1em;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}