mat-list-item{
    a[mat-chip]{
        cursor: pointer;

        &.chip_more_tags{
            margin-left: 1em;
        }
    }

    h4[mat-line]{
        span, small{
            vertical-align: middle;
        }
    }
}