<mat-nav-list *ngIf="passwords">
  <mat-list-item *ngFor="let password of passwords; let i = index" (click)="showPassword(password)" class="password_item">
    <h4 mat-line>
      <span>{{ password.data.name }}</span>
      <small *ngIf="password.data.username"> - {{ password.data.username }}</small>
    </h4>
    <mat-chip-list mat-line *ngIf="password.tags.length > 0" #tag_container [attr.data-expanded]="false">
      <a mat-chip *ngFor="let tag of (isExpanded(tag_container) ? password.tags : password.tags | slice:0:((isHandset$ | async) ? tag_amount_mobile : tag_amount))"
        [routerLink]="'/tags/' + tag" [matTooltip]="tag | word">
        <i [class]="tag | tagIcon"></i>
      </a>
      <a mat-chip class="chip_more_tags" *ngIf="isExpanded(tag_container) ? false : password.tags.length > ((isHandset$ | async) ? tag_amount_mobile : tag_amount)"
        [matTooltip]="password.tags.length - ((isHandset$ | async) ? tag_amount_mobile : tag_amount) + ' more...'"
        (click)="expandTags(tag_container); $event.preventDefault(); $event.stopPropagation();">
        <i class="fas fa-ellipsis-h"></i>
      </a>
    </mat-chip-list>
    <button mat-icon-button (click)="copy(password.data.username, 'Username copied!'); $event.preventDefault(); $event.stopPropagation();" matTooltip="Copy username" *ngIf="password.data.username">
      <i class="fas fa-user"></i>
    </button>
    <button mat-icon-button (click)="copy(password.data.password, 'Password copied!'); $event.preventDefault(); $event.stopPropagation();" matTooltip="Copy password" *ngIf="password.data.password">
      <i class="fas fa-key"></i>
    </button>
    <button *ngIf="check.contains(i)" matTooltip="{{check.getByIndex(i)['times']}} times found" mat-icon-button color="warn">
      <mat-icon aria-label="Warning">warning</mat-icon>
    </button>
  </mat-list-item>

  <mat-list-item *ngIf="passwords != null && passwords.length == 0">
    No passwords found
  </mat-list-item>
</mat-nav-list>

<mat-spinner *ngIf="passwords == null" color="accent" style="margin: 1em auto" diameter="30"></mat-spinner>
