main{
    padding: 1em;

    h2{
        margin-top: 0;
    }

    mat-card{
        margin-bottom: 1em;
    }

    #session_current{
        color: #06a706;
        font-size: 1.1em;
        margin-left: 1em;
        height: 1.1em;
        width: 1.1em;
    }
}