<main-nav [minimal]="true">
  <main>
    <h2>Settings</h2>

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>person</mat-icon>
        <mat-card-title>Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>fingerprint</mat-icon>
            <h4 mat-line>{{ this.user.user.id }}</h4>
            <small mat-line>ID</small>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>perm_identity</mat-icon>
            <h4 mat-line>{{ this.user.user.username }}</h4>
            <small mat-line>Username</small>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <h4 mat-line>{{ this.user.user.email }}</h4>
            <small mat-line>E-Mail</small>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>info</mat-icon>
            <h4 mat-line *ngIf="this.user.user.active != 0" style="color: #42df1a">Active</h4>
            <h4 mat-line *ngIf="this.user.user.active == 0" style="color: #f12">Blocked</h4>
            <small mat-line>Status</small>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>sync</mat-icon>
        <mat-card-title>Synchronize</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <mat-select (selectionChange)="sync_mode = $event.value" placeholder="Option" [value]="sync_mode">
              <mat-option value="automatically">
                Automatically
              </mat-option>
              <mat-option value="manually">
                Manually
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" (click)="sync()" [disabled]="settings_changing" style="height: 36px">
          <mat-spinner *ngIf="synchronizing" color="accent" diameter="16" style="margin: 0 auto"></mat-spinner>
          <span *ngIf="!synchronizing">Sync now</span>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>delete_forever</mat-icon>
        <mat-card-title>Delete data</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button color="warn" (click)="deleteData()" [disabled]="settings_changing">Delete all stored data</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>computer</mat-icon>
        <mat-card-title>
          <span class="align-top">Sessions</span>
          <mat-icon (click)="reloadLogins()" class="align-top pointer" style="margin-left: 10px">refresh</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-progress-spinner color="accent" mode="indeterminate" *ngIf="sessions_loading" class="align-center-margin" diameter="32"></mat-progress-spinner>
        <mat-list>
          <mat-list-item *ngFor="let login of sessions | async">
            <mat-icon matListIcon>public</mat-icon>
            <h4 matLine>
              <span class="align-middle">{{ login.last_ip }}</span>
              <mat-icon *ngIf="login.current" matTooltip="Current Session" id="session_current" class="align-middle" matTooltipPosition="right">trip_origin</mat-icon>
            </h4>
            <p matLine> {{ login.last_time | date: 'EEE, dd. LLL yyyy, HH:mm:ss' }} </p>
            <button mat-icon-button color="warn" (click)="removeLogin(login.id)"><mat-icon>delete</mat-icon></button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="removeAllLogins()" [disabled]="settings_changing">Logout from all sessions</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>security</mat-icon>
        <mat-card-title>
          PIN -
          <span *ngIf="this.user.hasPIN()" style="color: #42df1a">Active</span>
          <span *ngIf="!this.user.hasPIN()" style="color: #f12">Deactivated</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput [(ngModel)]="password" type="password" placeholder="Password" #password_field [ngModelOptions]="{standalone: true}" [disabled]="!this.user.isKnown()" />
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [(ngModel)]="new_pin" type="password" placeholder="New PIN" #new_pin_field [ngModelOptions]="{standalone: true}" [disabled]="!this.user.isKnown()" />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button *ngIf="this.user.hasPIN()" color="warn" (click)="remove_pin()" [disabled]="settings_changing || !this.user.isKnown()">Remove</button>
        <button mat-button *ngIf="this.user.hasPIN()" color="primary" (click)="change_pin()" [disabled]="settings_changing || !this.user.isKnown()">Change</button>

        <button mat-button *ngIf="!this.user.hasPIN()" color="accent" (click)="change_pin()" [disabled]="settings_changing || !this.user.isKnown()">Add</button>

        <mat-icon matTooltip="You need to save your login-data to do this" matTooltipPosition="right" class="align-middle" *ngIf="!this.user.isKnown()">info</mat-icon>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>mail</mat-icon>
        <mat-card-title>E-Mail</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput [(ngModel)]="password" type="password" placeholder="Password" #password_field [ngModelOptions]="{standalone: true}" />
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [(ngModel)]="new_email" type="email" placeholder="New E-Mail" #new_email_field [ngModelOptions]="{standalone: true}" />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="change_settings()" [disabled]="settings_changing">Change</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>vpn_key</mat-icon>
        <mat-card-title>Password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input matInput [(ngModel)]="password" type="password" placeholder="Password" #password_field [ngModelOptions]="{standalone: true}" />
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [(ngModel)]="new_password" type="password" placeholder="New Password" #new_password_field [ngModelOptions]="{standalone: true}" />
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput [(ngModel)]="new_password_retype" type="password" placeholder="Retype Password" #new_password_retype_field [ngModelOptions]="{standalone: true}" />
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="change_settings()" [disabled]="settings_changing">Change</button>
      </mat-card-actions>
    </mat-card>
  </main>
</main-nav>