@import '../../variables.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: mat-color($primary);

  mat-toolbar, mat-nav-list a[mat-list-item]{
    color: mat-color($primary, default-contrast);
  }

  mat-nav-list a[mat-list-item]{
    i{
      margin-right: 5px;
      width: 0;
      transition: width 0.2s;
      overflow: hidden;
    }

    &:hover i, &.current i{
      width: 1.5em;
    }

    &.current{
      //background-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#app-title{
  color: inherit;
  text-decoration: none;
}

main{
  padding: 16px;
}

.spacer{
  flex: 1 1 auto;
}