<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><mat-icon style="margin-right: 10px;">account_circle</mat-icon> <span title="{{ this.user.user.username }}" style="text-overflow: ellipsis; overflow: hidden; max-width: calc(100% - 1.5em)">{{ this.user.user.username }}</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-home"></i> Home</a>
      <a mat-list-item routerLink="/passwords"  routerLinkActive="current"><i class="fas fa-key"></i> Passwords</a>
      <a mat-list-item routerLink="/tags"  routerLinkActive="current"><i class="fas fa-tags"></i> Tags</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle navigation"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Navigation toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/home" id="app-title" [style.opacity]="!(isHandset$ | async) || !search_opened ? 1 : 0">Passwordmanager</a>
      <mat-menu #appMenu="matMenu" xPosition="before">
        <a mat-menu-item routerLink="/settings"><mat-icon>settings</mat-icon> Settings</a>
        <button mat-menu-item (click)="lock()" *ngIf="this.user.isKnown() && this.user.hasTest()"><mat-icon>lock</mat-icon> Lock</button>
        <button mat-menu-item (click)="logout()"><mat-icon color="warn">logout</mat-icon> Logout</button>
      </mat-menu>

      <span class="spacer"></span>

      <span id="search_container">
        <button mat-icon-button (click)="toggleSearch()">
          <mat-icon>search</mat-icon>
        </button>

        <span id="search_form" [ngClass]="{'open': search_opened}">
          <input matInput [(ngModel)]="search" autocomplete="off" #search_field (blur)="toggleSearch(false)" (keyup)="search_changed()" (keydown.esc)="toggleSearch(false, false)">
        </span>
      </span>

      
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <ng-content></ng-content>

    <button mat-fab color="accent" id="btn_add" (click)="addPW()">
      <mat-icon>add</mat-icon><!-- // TODO: overlaps content -->
    </button>
    
  </mat-sidenav-content>
</mat-sidenav-container>
