<h1 mat-dialog-title>Import</h1>
<div mat-dialog-content>
  <p id="content">Upload the *.csv file to import passwords</p>
  <input type="file" style="display: none" accept=".csv" (change)="selectedFile = $event.target.files" #input>
  <button (click)="input.click()" cdkFocusInitial mat-flat-button color="primary">
    <mat-icon>attach_file</mat-icon>
    <span *ngIf="selectedFile == null">Select file</span>
    <span *ngIf="selectedFile != null">{{ selectedFile.name }}</span>
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button [mat-dialog-close]="selectedFile" [disabled]="selectedFile == null">OK</button>
</div>