<main-nav (searched)="searched($event)">
  <h3>Tags ({{ tags ? tags.length : 0 }})</h3>
  <mat-nav-list>
    <mat-list-item *ngFor="let tag of tags" [routerLink]="'/tags/' + tag.name">
      <i [class]="tag.name | tagIcon" mat-list-icon></i>
      <span mat-line>{{ tag.name | word }}</span>
      
      <mat-chip-list>
        <mat-chip matTooltip="Amount" matTooltipPosition="before">{{ tag.amount }}</mat-chip>
      </mat-chip-list>
    </mat-list-item>
  </mat-nav-list>

  <mat-spinner *ngIf="tags == null" color="accent" style="margin: 1em auto" diameter="30"></mat-spinner>
</main-nav>