@import 'variables.scss';

html, body{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.snackbar_error{
    .mat-button-wrapper{
        color: mat-color($warn);
    }
}

.align-middle{
    vertical-align: middle;
}

.align-top{
    vertical-align: top;
}

.align-center-margin{
    margin: 0 auto;
}

.color-primary{
    color: mat-color($primary);
}

.color-accent{
    color: mat-color($accent);
}

.background-primary{
    background-color: mat-color($primary);
}

.background-accent{
    background-color: mat-color($accent);
}

.pointer{
    cursor: pointer;
}

h3{
    font-weight: normal;
}