@import '../../variables.scss';

:host(app-page-login){
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: mat-color($primary);

    mat-card{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;

        form{
            .mat-form-field{
                display: block;
                margin: 0 16px;
            }

            #remember_section{
                display: flex;
                align-content: center;
                align-items: center;

                mat-checkbox{
                    margin: 0 1em;
                }
            }
        }
    }
}
