<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Name" type="text" formControlName="name" style="font-size: 1.5em"
        [readonly]="!edit_mode">
    </mat-form-field>

    <br>

    <mat-form-field *ngIf="edit_mode || (this.form.value.username != null && this.form.value.username.length > 0)">
      <input matInput placeholder="Username" type="text" formControlName="username" [readonly]="!edit_mode">
    </mat-form-field>
    <mat-form-field *ngIf="edit_mode || (this.form.value.password != null && this.form.value.password.length > 0)">
      <input matInput placeholder="Password" type="password" formControlName="password" [readonly]="!edit_mode"
        #password_input>
      <mat-icon matSuffix style="cursor: pointer"
        (click)="password_input.type != 'password' ? password_input.type = 'password' : password_input.type = 'text'">
        {{ password_input.type != 'password' ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-icon matSuffix style="cursor: pointer" (click)="genpass()">autorenew</mat-icon>
    </mat-form-field>

    <br>

    <mat-form-field *ngIf="edit_mode || (this.form.value.domain != null && this.form.value.domain.length > 0)">
      <input matInput placeholder="Domain" type="text" formControlName="domain" [readonly]="!edit_mode">
    </mat-form-field>

    <br>

    <mat-form-field style="width: 100%" *ngIf="edit_mode || (tags != null && tags.length > 0)">
      <mat-chip-list #tagsList>
        <mat-chip *ngFor="let tag of tags" selectable="false" [removable]="edit_mode" (removed)="remove_tag(tag)">
          {{ tag | word }}
          <mat-icon matChipRemove *ngIf="edit_mode">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags" #tagsInput [formControl]="tagsCtrl" [matAutocomplete]="autocomplete_tags"
          [matChipInputFor]="tagsList" (matChipInputTokenEnd)="add_tag($event)" [readonly]="!edit_mode">
      </mat-chip-list>
      <mat-autocomplete #autocomplete_tags="matAutocomplete" (optionSelected)="selected_tag($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{ tag | word }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div formArrayName="additional_data" *ngIf="edit_mode">
      <mat-card *ngFor="let data of additional.controls; let i=index" [formGroupName]="i">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Name" type="text" formControlName="name" autofocus>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Value" type="text" formControlName="value">
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button (click)="removeAdditional(i)" color="warn">
            <mat-icon>remove_circle</mat-icon> Remove
          </button>
        </mat-card-actions>
      </mat-card>

      <button mat-raised-button color="accent" (click)="addAdditional()">
        <mat-icon>add</mat-icon>
        <span>Add field</span>
      </button>
    </div>

    <div formArrayName="additional_data" *ngIf="!edit_mode">
      <div *ngFor="let data of additional.controls; let i=index" [formGroupName]="i">
        <mat-form-field style="display: none">
          <input matInput placeholder="Name" type="text" formControlName="name" #name>
        </mat-form-field>
        <mat-form-field>
          <input matInput [placeholder]="name.value" type="text" formControlName="value" readonly>
        </mat-form-field>
      </div>
    </div>
  </form>
  <p *ngIf="!edit_mode && last_changed != null && last_changed.length > 0">Last changed:
    {{ last_changed | date:'dd. LLLL yyyy, HH:mm' }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-icon-button matTooltip="Undo changes" (click)="toggleEdit(false)" *ngIf="edit_mode && changed && !saving">
    <mat-icon>delete_sweep</mat-icon>
  </button>

  <button mat-button (click)="toggleEdit()" [matTooltip]="!saving ? (edit_mode ? 'Save' : 'Edit') : 'Saving'">
    <mat-icon *ngIf="!edit_mode">edit</mat-icon>
    <mat-icon *ngIf="edit_mode && !saving">save</mat-icon>
    <span *ngIf="edit_mode && saving">...</span>
  </button>

  <button mat-button (click)="remove()" color="warn" matTooltip="Delete">
    <mat-icon>delete</mat-icon>
  </button>

  <button mat-button (click)="toggleBookmarked()" *ngIf="hasId()" class="toggle_bookmark_btn"
    [matTooltip]="isBookmarked() ? 'Remove bookmark' : 'Bookmark'">
    <mat-icon *ngIf="isBookmarked()">bookmark</mat-icon>
    <mat-icon *ngIf="!isBookmarked()">bookmark_border</mat-icon>
  </button>
</mat-dialog-actions>
